In [20]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [ ]:
# datas 폴더 내에 파일 리스트를 files에 할당해줍니다.
import os
files = os.listdir('C:/Users/yurry/Documents/대학/서울시빅데이터캠퍼스(2023)/호우취약지역입지선정/data/서울특별시/2014 서울특별시[ascii]')
files

In [24]:
dpath2 = 'C:/Users/yurry/Documents/대학/서울시빅데이터캠퍼스(2023)/호우취약지역입지선정/data/서울특별시/2014 서울특별시[ascii]/'

In [ ]:
files[1].split('.')[0]

In [ ]:
df = pd.DataFrame()

In [ ]:
for i in files:
    table = pd.read_table( dpath_godo + 'f/{files[i]}'), skiprows=2, delim_whitespace=True, names=['x','y','z'])
    df.append(table, inplace=True)
    return df

In [ ]:
globals()[f'{files[i].split('.')[0]}'] = gpd.GeoDataFrame(f'{files[i].split('.')[0]}', geometry=f'{files[i].split('.')[0]}'.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

In [ ]:
godo_{'서울특별시 강남구.txt'}

In [22]:
dpath = 'C:/Users/yurry/Documents/대학/서울시빅데이터캠퍼스(2023)/호우취약지역입지선정/data/'

In [23]:
# 강남구
gangnam_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 강남구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gangnam_godo.head(3)

#강동구
gangdong_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 강동구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gangdong_godo = gpd.GeoDataFrame(gangdong_godo, geometry=gangdong_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#강북구
gangbook_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 강북구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gangbook_godo = gpd.GeoDataFrame(gangbook_godo, geometry=gangbook_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#강서구
gangseo_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 강서구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gangseo_godo = gpd.GeoDataFrame(gangseo_godo, geometry=gangseo_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#관악구
gwanak_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 관악구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gwanak_godo = gpd.GeoDataFrame(gwanak_godo, geometry=gwanak_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#광진구
gwangjin_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 광진구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
gwangjin_godo = gpd.GeoDataFrame(gwangjin_godo, geometry=gwangjin_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#구로구
guro_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 구로구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
guro_godo = gpd.GeoDataFrame(guro_godo, geometry=guro_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#금천구
geumcheon_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 금천구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
geumcheon_godo = gpd.GeoDataFrame(geumcheon_godo, geometry=geumcheon_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#노원구
noone_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 노원구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
noone_godo = gpd.GeoDataFrame(noone_godo, geometry=noone_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#도봉구
dobong_godo = pd.read_table(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 도봉구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
dobong_godo = gpd.GeoDataFrame(dobong_godo, geometry=dobong_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

In [25]:
#동대문구
dongdae_godo = pd.read_table(dpath2 + "서울특별시 동대문구.txt", skiprows=2, delim_whitespace=True, names=['x','y','z'])
dongdae_godo = gpd.GeoDataFrame(dongdae_godo, geometry=dongdae_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#동작구
dongzak_godo = pd.read_table(dpath2 + "서울특별시 동작구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
dongzak_godo = gpd.GeoDataFrame(dongzak_godo, geometry=dongzak_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#마포구
mapo_godo = pd.read_table(dpath2 + "서울특별시 마포구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
mapo_godo = gpd.GeoDataFrame(mapo_godo, geometry=mapo_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))


#서대문구
seodae_godo = pd.read_table(dpath2 + "서울특별시 서대문구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
seodae_godo = gpd.GeoDataFrame(seodae_godo, geometry=seodae_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#서초구
seocho_godo = pd.read_table(dpath2 + "서울특별시 서초구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
seocho_godo = gpd.GeoDataFrame(seocho_godo, geometry=seocho_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#성동구
seongdong_godo = pd.read_table(dpath2 + "서울특별시 성동구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
seongdong_godo = gpd.GeoDataFrame(seongdong_godo, geometry=seongdong_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#성북구
seongbook_godo = pd.read_table(dpath2 + "서울특별시 성북구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
seongbook_godo = gpd.GeoDataFrame(seongbook_godo, geometry=seongbook_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#송파구
songpa_godo = pd.read_table(dpath2 + "서울특별시 송파구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
songpa_godo = gpd.GeoDataFrame(songpa_godo, geometry=songpa_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#양천구
yangcheon_godo = pd.read_table(dpath2 + "서울특별시 양천구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
yangcheon_godo = gpd.GeoDataFrame(yangcheon_godo, geometry=yangcheon_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#영등포구
yeongdueng_godo = pd.read_table(dpath2 + "서울특별시 영등포구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
yeongdueng_godo = gpd.GeoDataFrame(yeongdueng_godo, geometry=yeongdueng_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#용산구
yongsan_godo = pd.read_table(dpath2 + "서울특별시 용산구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
yongsan_godo = gpd.GeoDataFrame(yongsan_godo, geometry=yongsan_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#은평구
eunpyeong_godo = pd.read_table(dpath2 + "서울특별시 은평구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
eunpyeong_godo = gpd.GeoDataFrame(eunpyeong_godo, geometry=eunpyeong_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#종로구
jongro_godo = pd.read_table(dpath2 + "서울특별시 종로구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
jongro_godo = gpd.GeoDataFrame(jongro_godo, geometry=jongro_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#중구
joong_godo = pd.read_table(dpath2 + "서울특별시 중구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
joong_godo = gpd.GeoDataFrame(joong_godo, geometry=joong_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

#중랑구
joongrang_godo = pd.read_table(dpath2 + "서울특별시 중랑구.txt",skiprows=2, delim_whitespace=True, names=['x','y','z'])
joongrang_godo = gpd.GeoDataFrame(joongrang_godo, geometry=joongrang_godo.apply(lambda row: Point(row.x,row.y,row.z), axis=1))

In [ ]:
# to shapefile
gangnam_godo.to_file(dpath + "서울특별시/2014 서울특별시[ascii]/서울특별시 강남구.shp")

In [ ]:
gangnam_godo['z'].min()
gangnam_godo['z'].max()
gangnam_godo['z'].describe()

In [26]:
seocho_godo.describe()

                   x              y            z
count    8039.000000    8039.000000  8039.000000
mean   202883.400095  541424.270598    80.879267
std      2854.126182    2618.982303    81.724974
min    197816.240000  536101.060000     2.590000
25%    200516.240000  539521.060000    22.300000
50%    202676.240000  541141.060000    49.410000
75%    205196.240000  543391.060000   112.880000
max    208886.240000  547441.060000   540.440000